.dash-content {
    background: green;
    border: 3px solid black;
    position: relative;
    left: 120px;
}

.content-body-container {
    background: green;
    border: 3px solid black;
    position: relative;
    left: 120px;
    display: flex;
}

.vert-align {
    top:0;
    margin: 0;
    position: fixed;
    z-index:50;
    display: flex;
    width: 100%;
    border: 1px solid black;
    
}

.grid-body-container {
    background: black;
    display: flex;
    height: 100%;
}