html {
  font-size: 62.5%;
  background: #a5afd7;
  height: 100%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  height: 100%; }

h1 {
  font-size: 3rem; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.is-active {
  font-weight: bold; }

.app-header {
  width: 100%;
  position: fixed;
  background: #8919d3;
  top: 0;
  left: 0;
  height: 56px;
  color: white; }

.app__logo {
  margin-left: 1.5rem; }

.app__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem; }

.app__items {
  color: white;
  text-decoration: none; }

.app__items a:hover,
.app__items a:active {
  color: red; }

.app__items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: white; }

.app__items li {
  padding: 5rem;
  color: white; }

.app {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem; }

.spacer {
  flex: 1; }

@media (max-width: 768px) {
  .app__items {
    display: none; } }

.content-body {
  background: #a5afd7;
  color: white;
  border: 1px solid black;
  margin: auto;
  height: 92%;
  width: 100%; }

.paper-container {
  background: white;
  height: 43rem;
  padding: 3rem;
  box-shadow: 2px;
  display: flex;
  margin: 1.2rem 2rem 0 2rem;
  flex-flow: row wrap; }

.content-body p {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  margin: auto;
  padding: 2rem; }

.script-steps-card {
  background: white;
  padding: 3rem;
  height: 8rem;
  display: flex;
  margin: 5rem 2rem 0 2rem; }

.body-card-button-pass {
  color: white;
  background: green;
  left: 128rem; }

.body-card-button-fail {
  color: white;
  background: red;
  left: 130rem; }

.dash-content {
  background: green;
  border: 3px solid black;
  position: relative;
  left: 120px; }

.toggle-button {
  display: flex;
  flex-direction: column;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-around; }

.toggle-button:focus {
  outline: none; }

.toggle-button__line {
  width: 30px;
  height: 2px;
  background: white; }

.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px black;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out; }

.side-drawer.open {
  transform: translateX(0); }

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.side-drawer a {
  color: purple;
  text-decoration: none;
  font-size: 1.2rem; }

.side-drawer li {
  margin: 0.5rem 0; }

.side-drawer a:hover,
.side-drawer a:active {
  color: red; }

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  box-shadow: 1px 0px 7px; }
